{{!-- <h3>Navbar Test</h3> --}}

    {{!-- <p>loggedIn {{loggedInUser.loggedIn}} - {{loggedInUser.first_name}}</p> --}}
    {{#if loggedInUser.loggedIn}}
    <div class="nav-item" > 
        Welcome {{loggedInUser.first_name}} {{loggedInUser.last_name}}
    </div>
     <div class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
    </div>
     <div class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="#" id="btn-logout"> Log out</a>
    </div>
    {{else}}
     <div class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="/login"> Login</a>
    </div>
    {{/if}}
