{{#if loggedInUser}}
<ul class="post-card-sidebar">Posts by {{loggedInUser.username}}
    {{#each loggedInUser.posts as |post|}}
    <a href="/post/{{post.id}}">
        <li class="posts-title">{{incremented @index}}. {{post.title}}</li>
    </a>
    {{/each}}
</ul>

<div class="post-card-sidebar">
    <a href="/newpost" >
        <div class="btn">New Post</div>
    </a>
</div>


{{else}}
<div class="post-card-sidebar">
    <div class="btn"><a href="/login" >
        <div>Login</div>
    </a></div>
</div>
<div class="post-card-sidebar">
    <div class="btn"><a href="/signup">
        <div>Sign Up</div>
    </a></div>
</div>
{{/if}}